      <!-- footer -->
      <footer>
        <div class="container-fluid p-0">
          <div class="row text-left">
            <div class="col-md-6">
              <h4 class="text-dark">About us</h4>
              <p class="text-dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum maxime ea similique illum corrupti</p>
              <p class="pt-4 text-dark">Copyright ©2019 All rights reserved.
              </p>
            </div>

            <div class="col-md-3 col-sm-12">
                  <h5 class="text-dark">Useful links</h5>
                                <p class="mb-0"><a href="#" class="text-dark">FAQ</a></p>
                                <p class="mb-0"><a href="#" class="text-dark">Blog</a></p>
                                <p class="mb-0"><a href="#" class="text-dark">Pricing</a></p>
                                <p class="mb-0"><a href="#" class="text-dark">Track order</a></p>
                                <p class="mb-0"><a href="#" class="text-dark">We're hiring</a></p>
            </div>

            <div class="col-md-3 col-sm-12">
              <h5 class="text-dark">Quick links</h5>
                       <p class="mb-0"><a href="#" class="text-dark">Contact</a></p>
                       <p class="mb-0"><a href="#" class="text-dark">About</a></p>
                       <p class="mb-0"><a href=".#" class="text-dark">Disclaimer</a></p>
                       <p class="mb-0"><a href="#" class="text-dark">Privacy policy</a></p>
                       <p class="mb-0"><a href="#" class="text-dark">Terms & Conditions</a></p>
            </div>

          </div>
        </div>
      </footer>